.button {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  border: 1px solid #D58C51;
  background-color: #D58C51;
}


