.card {
  box-sizing: border-box;
  width: 309px;
  height: 552px;
  border: 1px solid #D58C51;
  font-style: normal;
  color: #FFFFFF;
  transition: color 0.5s ease;

  .card__preview {
    margin: 43px auto 31px auto;
  }

  .card__cont {
    width: 264px;
    height: 173px;
    margin-left: 21px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .cont__card {

      .card__title {
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
        margin-bottom: 10px;
      }
      
      .card__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
      }
    }

    .card__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .footer__changes {

        .changes__price {
          font-weight: 500;
          font-size: 17px;
          line-height: 21px;
          margin-bottom: 10px;
        }
        
        .changes__weight {
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
        }
      }

      .footer__add-button {
        width: 30px;
        height: 30px;
        border: 1px solid white;
        border-radius: 50%;
        display: flex;

        .add-button__text {
          width: 15px;
          height: 15px;
          content: url('../../../public/images/+.svg');
          margin-top: 7.5px;
          margin-left: 7.5px;
          // color: #fff;
        }
      }

      .footer__add-button:hover {
        border: 1px solid #D58C51;
        background-color: #D58C51;
      }
    } 
  }
}

.card:hover {
  color: #D58C51;
}









