.cardBasket {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-right: 10px;

  .cardBasket__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-style: normal;
    color: #FFFFFF;
  
    .content__img {
      height: 132px;
      margin-right: 15px;
    }
  
    .content__description {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 25px;
      width: 75%;
  
      .description__title {
        width: 265px;
        margin-right: 15px;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
      }
  
      .description__price
      .description__quantity
      .description__totalPrice {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #D58C51;
        white-space: nowrap;
      }
    }
  }
  
  .cardBasket-button {
    width: 70px;
    height: 30px;
    display: flex;
  
    .cardBasket-button__plus {
      margin-right: 10px;
    }
  }
}








